<!doctype html>
<html>
<head>
  <title>forcepu.sh</title>
  <meta charset="utf-8" />
  <meta name="google" value="notranslate"> 
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/document.css">
  <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@beyondnft/embeddable@0.0.5/dist/embeddable.es.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>