// google sign in button
.federated-sign-in-button:focus,
.federated-sign-in-button:hover {
  // hover white
  background-color: #1f1f1f !important;

  // hover blue
  // background-color: #52e5ff !important;
}

// inactive tab
[data-amplify-authenticator] [data-state="inactive"] {
  color: rgba(255, 255, 255, 0.65) !important;
}

[data-amplify-authenticator] [data-state="inactive"]:hover {
  color: white !important;
}

// hover white
[data-amplify-theme="dark-mode-theme"] {
  --amplify-colors-brand-primary-80: #52e5ff !important;
  --amplify-font-weights-bold: 600 !important;
  --amplify-colors-font-focus: white !important;
  --amplify-colors-font-hover: white !important;
  --amplify-colors-font-active: white !important;

  --amplify-components-tabs-item-active-color: white !important;

  // inactive tab
  --amplify-colors-background-secondary: transparent !important;
  // --amplify-colors-font-secondary: rgba(255, 255, 255, 0.65) !important;
  --amplify-components-fieldcontrol-focus-border-color: white !important;

  // forgot your password
  --amplify-components-button-link-hover-background-color: transparent !important;
  --amplify-components-button-link-color: rgba(255, 255, 255, 0.65) !important;
  // --amplify-components-button-link-hover-color: white !important;

  // --amplify-components-button-primary-background-color: white !important;
  // --amplify-components-button-primary-hover-background-color: #52e5ff !important;
}

// // hover blue
/* [data-amplify-theme= dark-mode-theme ] { */
//   --amplify-colors-brand-primary-80: #52e5ff !important;
//   --amplify-font-weights-bold: 600 !important;
//   --amplify-colors-font-focus: #52e5ff !important;
//   --amplify-colors-font-hover: white !important;
//   --amplify-colors-font-active: #52e5ff !important;

// inactive tab
//   --amplify-colors-background-secondary: transparent !important;
//   --amplify-colors-font-secondary: rgba(255, 255, 255, 0.65) !important;

// --amplify-components-fieldcontrol-focus-border-color: #52e5ff !important;

// forgot your password
//   --amplify-components-button-link-hover-background-color: transparent !important;
//   --amplify-components-button-link-color: white !important;
//   --amplify-components-button-link-hover-color: #52e5ff !important;

//   // sign in button
//   --amplify-components-button-primary-background-color: white !important;
//   --amplify-components-button-primary-hover-background-color: #52e5ff !important;
// }

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1;
  height: 100%;
  min-width: 25%;
}

@media (max-width: 700px) {
  .child {
    min-width: 51%;
    height: 100%;
    margin-bottom: 50px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .child {
    min-width: 51%;
    height: calc(30vh);
    margin-bottom: 50px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  min-width: 25%;
}
