.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  height: 100%;
  //   background: red;
  flex: 1;
  min-width: 25%;
  //   border: 5px solid white;
}

@media (-webkit-min-device-pixel-ratio: 2), (max-width: 700px) {
  .child {
    min-width: 51%;
    height: 40vh;
    margin-bottom: 100px;
  }
}

// @media (max-width: 50rem) {
//   .child {
//     min-width: 51%;
//   }
// }

.container {
  //   height: 100%;
  //   width: 100%;
  display: flex;
  //   justify-content: center;
  flex-wrap: wrap;
}

.item {
  //   width: 100%;
  //   height: 100%;
  flex: 1;
  min-width: 25%;
}
