.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1;
  height: 100%;
  min-width: 25%;
}

@media (max-width: 700px) {
  .child {
    min-width: 51%;
    height: 100%;
    margin-bottom: 50px;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  min-width: 25%;
}
